.preview__link {
  display: flex;
  align-items: center;
  padding: 1.5rem 3.2rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
  cursor: pointer;
}

.preview__link:hover,
.preview__link:active {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}
.thumb {
  height: 8rem;
  margin-right: 1.5rem;
}

.preview__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.preview__title {
  font-size: 1.7rem;
  text-overflow: ellipsis;
  max-width: 30rem;
  white-space: nowrap;
  overflow: hidden;
}

.preview__description {
  color: #918581;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  max-width: 30rem;
  white-space: nowrap;
  overflow: hidden;
}

/* --------------- MEDIA QUERIES -------------- */

@media (max-width: 30em) {
  .preview__link {
    padding: 0.5rem 1rem;
    /* width: 100%; */
  }

  .thumb {
    height: 6rem;
    margin-right: 1rem;
  }

  .preview__title {
    font-size: 1.4rem;
    max-width: 18rem;
  }

  .preview__description {
    font-size: 1.2rem;
    text-overflow: ellipsis;
    max-width: 18rem;
    white-space: nowrap;
    overflow: hidden;
  }
}
