@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  /* Setting default font-size to 10px so that 1rem = 10px (10px / 16 px = 62,5%)  */
  overflow-x: hidden;
}

body {
  height: 100vh;
  line-height: 1;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(#615551, 0.2);
}

.results-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
